*.o
*.o.cmd
*.o.d
*.ko
*.ko.cmd
*.mod.c
*.swp
.tmp_versions
Module.symvers
kpatch-build/add-patches-section
kpatch-build/create-diff-object
kpatch-build/link-vmlinux-syms
man/kpatch.1.gz
man/kpatch-build.1.gz
test/integration/test.log
