*.o
*.o.cmd
*.o.d
*.ko
*.ko.cmd
*.mod.c
*.swp
*.swo
*.d
*.so
.tmp_versions
Module.symvers
kmod/core/.cache.mk
kpatch-build/lookup
kpatch-build/create-diff-object
kpatch-build/create-klp-module
kpatch-build/create-kpatch-module
man/kpatch.1.gz
man/kpatch-build.1.gz
prepare_sources_result*/
