kpatch-diff-gen/kpatch-diff-gen
*.o
*.o.cmd
*.ko
*.ko.cmd
*.mod.c
*.swp
kmod/.tmp_versions/
kmod/Module.symvers
kmod/modules.order
tools/add-patches-section
tools/create-diff-object
tools/link-vmlinux-syms
